#infos {
	background-color: #000;
	height: 100px;
	width: 100%;
	color: #fff;
}
.flex {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	height: 20px;
}
main button {
	padding: 0;

}